.viewMatcard{
  font-family: "Montserrat";
  margin: 20px;
}
label{
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(53, 51, 51);
}
.fontFamily{
  font-family: "Montserrat";
}
.margin{
  margin-top: 20px;
}
.mat-divider{
  position: relative !important;
}