<!-- <div > -->
    <!-- <mat-spinner class="spinner" *ngIf="!loaded"></mat-spinner> -->
    <!-- <mat-toolbar color="primary" class="matCard">
        <span fxLayout="row" fxFlex="90" class="matCardButtons">
        <h1 class="matHeading">  Right Way  </h1>  
        <button mat-button routerLink="/">Sales</button>  
        <button mat-button routerLink="/about">Winter Collection</button>
        <button mat-button routerLink="/about">New Designs</button>
        <button mat-button routerLink="/about">UnStitched</button>
        <button mat-button routerLink="/about">Stitched</button>
        </span>
        <span fxFlex="15" fxLayout="row" fxLayoutGap="10px">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>account_circle</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/login">
                  <span>Login</span>
                </button>
                <button mat-menu-item routerLink="/register">
                  <span>Sign Up</span>
                </button>
              </mat-menu>
              <button mat-icon-button aria-label="Example icon-button with a menu">
                <mat-icon>shopping_cart</mat-icon>
              </button>
              
        </span>
    </mat-toolbar> -->
    
    <!-- <div class="productPage" fxLayout="row">
        <div fxFlex="50">
            <img class="img" src="{{imageLink}}">
        </div>
        <div fxFlex="50">
            <div fxLayout="column">

            </div>
        </div>
    </div> -->
    <div class="pagePath">
        RightWay<span class="sign">></span>Home<span class="sign">></span>Product
    </div>
    <div class="productPage" *ngIf="isMobileScreen">
        <!-- <div fxLayout="row">
            <a id="right">Right Way</a>
            <label class="prodLabel">{{obj.description}}</label>
        </div> -->
        <mat-card fxLayout="column" class="matcard">
            <mat-card fxFlex="100" class="imageMatCard">
                <img class="img" src="{{image}}">
                <!-- <div class="text">
                    <h2>{{obj.name}}</h2>
                    <p>
                        This kurta is designed by right way.
                    </p>
                </div> -->
                <div class="sliderText">
                    <h1 class="offHeading">{{obj.discount}}% OFF</h1>
                </div>
            </mat-card>
            <div fxFlex="100">
                <div fxLayout="column" class="descriptionClass">
                    <h3>{{obj.name}}</h3>
                    <h4 >{{stockAvailability}}</h4>
                    <div fxLayout="row" class="pkr" *ngIf="obj.price != obj.discountedPrice">
                        <label>PKR</label>
                        <label class="PKRHeading">{{obj.discountedPrice}}</label>
                        <label><span class="PKRHeadingLine">{{obj.price}}</span>({{obj.discount}}% Off)</label>
                        
                    </div>
                    <div fxLayout="row" class="pkr" *ngIf="obj.price == obj.discountedPrice">
                        <label>PKR</label>
                        <label class="PKRHeading">{{obj.price}}</label>
                    </div>
                    <div fxLayout="column" >
                        <label class="colorHeading">Color: {{color}} 
                            <span class="msgColor">{{colorMsg}}</span>
                        </label>
                        <span fxLayout="row">
                            <span *ngFor="let color of colorArray; let i = index">
                                <button mat-mini-fab class="colorButton" (click)="changeColor(color)"
                                [style.background-color]="color.color"></button>
                            </span>
                        </span>
                    </div>
                    <span class="quantityHeading">
                        <label>Quantity: </label>
                    </span>
                    <div fxLayout="row">
                        <a class="btn-qty" (click)="minusQuantity()">-</a>
                        <mat-form-field appearance="outline" class="matField">
                            <input matInput value="{{quantity}}" class="matInput">
                          </mat-form-field>
                        <a class="btn-qty" (click)="addQuantity()">+</a>
                    </div>
                    <div fxLayout="column" >
                        <label class="sizeHeading">SIZE: {{size}} <span class="msgColor">{{sizeMsg}}</span></label>
                        <span fxLayout="row" class="sizeButtons">
                            <span *ngFor="let size of sizeArray; let i = index">
                                <button mat-mini-fab class="sizeButton" (click)="changeSize(size)">
                                    {{size.text}}</button>
                            </span>
                        </span>
                    </div>
                    <button mat-raised-button class="addCartButton" (click)="addToCart()">ADD TO CART</button>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="productPage" *ngIf="!isMobileScreen">
        <!-- <div fxLayout="row">
            <a id="right">Right Way</a>
            <label class="prodLabel">{{obj.description}}</label>
        </div> -->
        <mat-card fxLayout="row">
            <mat-card fxFlex="50" class="imageMatCard">
                <img class="img" src="{{image}}">
                <!-- <div class="text">
                    <h2>{{obj.name}}</h2>
                    <p>
                        This kurta is designed by right way.
                    </p>
                </div> -->
                <div class="sliderText">
                    <h1 class="offHeading">{{obj.discount}}% OFF</h1>
                </div>
            </mat-card>
            <div fxFlex="50">
                <div fxLayout="column" class="descriptionClass">
                    <h3>{{obj.name}}</h3>
                    <h4 >{{stockAvailability}}</h4>
                    <div fxLayout="row" class="pkr" *ngIf="obj.price != obj.discountedPrice">
                        <label>PKR</label>
                        <label class="PKRHeading">{{obj.discountedPrice}}</label>
                        <label><span class="PKRHeadingLine">{{obj.price}}</span>({{obj.discount}}% Off)</label>
                        
                    </div>
                    <div fxLayout="row" class="pkr" *ngIf="obj.price == obj.discountedPrice">
                        <label>PKR</label>
                        <label class="PKRHeading">{{obj.price}}</label>
                    </div>
                    <div fxLayout="column" >
                        <label class="colorHeading">Color: {{color}} 
                            <span class="msgColor">{{colorMsg}}</span>
                        </label>
                        <span fxLayout="row">
                            <span *ngFor="let color of colorArray; let i = index">
                                <button mat-mini-fab class="colorButton" (click)="changeColor(color)"
                                [style.background-color]="color.color"></button>
                            </span>
                        </span>
                    </div>
                    <span class="quantityHeading">
                        <label>Quantity: </label>
                    </span>
                    <div fxLayout="row">
                        <a class="btn-qty" (click)="minusQuantity()">-</a>
                        <mat-form-field appearance="outline" class="matField">
                            <input matInput value="{{quantity}}" class="matInput">
                          </mat-form-field>
                        <a class="btn-qty" (click)="addQuantity()">+</a>
                    </div>
                    <div fxLayout="column" >
                        <label class="sizeHeading">SIZE: {{size}} <span class="msgColor">{{sizeMsg}}</span></label>
                        <span fxLayout="row" class="sizeButtons">
                            <span *ngFor="let size of sizeArray; let i = index">
                                <button mat-mini-fab class="sizeButton" (click)="changeSize(size)">
                                    {{size.text}}</button>
                            </span>
                        </span>
                    </div>
                    <button mat-raised-button class="addCartButton" (click)="addToCart()">ADD TO CART</button>
                </div>
            </div>
        </mat-card>
    </div>
    <app-footer></app-footer>
<!-- <div class="homePage" fxLayout="column">
    <span *ngFor="let product of products; let i = index">
    <div class="imageRow" fxLayout="row" fxLayoutGap="10px">
        <span *ngFor="let prod of product; let j = index" fxFlex="31.5">
            <img class="img" src="{{prod.name}}" [routerLink]="['/home/product', prod.id]">
            <div class="middle">
                <div class="text">John Doe</div>
            </div>
        </span>
    </div>
    </span>
</div> -->

<!-- <html>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <div class="image">
        <div class="heading">
            <p id="awesome">Building Something Awesome</p>
            <h1>Coming Soon!</h1>
            <hr>
            <p id="timer"></p>
            <form novalidate [formGroup]="fg" fxLayout="row" fxLayoutGap="10px" (ngSubmit)="onSave(fg.value)">

            <mat-form-field fxFlex="70%">
                <input class="emailInput" matInput placeholder="Get Notify by Email" formControlName="email" required>
                <mat-error *ngIf="fg.get('email').hasError('email')">Invalid Email</mat-error>
                <mat-error *ngIf="fg.get('email').hasError('required')">Enter Email</mat-error>
              </mat-form-field>
              <button fxFlex="30%" class="saveButton" type="submit" [disabled]="fg.invalid" mat-raised-button color="primary">Notify Me!</button>
            </form>
        </div>
    </div>
</html> -->

  <!-- <router-outlet></router-outlet> -->
