    <div class="pagePath">
      RightWay<span class="sign">></span>UnStitch
  </div>

  <div class="comingSoon">COMING SOON</div>
<!-- <mat-card class="homePage" fxLayout="column" *ngIf="innerWidth<600">
  <span fxLayout="row">
    <mat-card class="sliderMatCard">
        <img class="imgSlider" fxFlex="100" src={{url}}>
            <div class="sliderText">
                <h2>LAWN KURTA</h2>
                <p>
                </p>
            </div>
    </mat-card>
  </span>
    <div class="imageRow" fxLayout="row" fxLayoutGap="10px" *ngFor="let prod of products; let j = index">
        <mat-card class="homeMatCard" fxFlex="100">
          <div class="imgOverflow">
            <img class="img" src="{{prod.name}}" [routerLink]="['/home/product', prod.id]">
            <div class="hoverTextbox">
              <h2>LAWN KURTA</h2>
              <p>
                  This kurta is designed by right way.
              </p>
            </div>
          </div>

            <div class="middle">
                <div class="text">EMBROIDED SHIRT</div>
                <P class="paragraph">Revel in joy this season with our exquisitely pret collection, 
                  featuring a rich
                  color palette</P>
                  <label class="label">SHOP NOW</label>
            </div>
        </mat-card>
    </div>
</mat-card>
<mat-card class="homePage" fxLayout="column" *ngIf="innerWidth>=600 && innerWidth<750">
  <span *ngFor="let product of imageInterval1; let i = index">
    <div class="imageRow" fxLayout="row" fxLayoutGap="10px">
        <mat-card class="homeMatCard" *ngFor="let prod of product; let j = index" fxFlex="50">
          <div class="imgOverflow">
            <img class="img" src="{{prod}}" [routerLink]="['/home/product', prod.id]">
            <div class="hoverTextbox">
              <h2>LAWN KURTA</h2>
              <p>
                  This kurta is designed by right way.
              </p>
            </div>
          </div>
          <div class="middle">
            <div class="text">EMBROIDED SHIRT</div>
            <P class="paragraph">Revel in joy this season with our exquisitely pret collection, 
              featuring a rich
              color palette</P>
            <label class="label">SHOP NOW</label>
          </div>
        </mat-card>
    </div>
  </span>
</mat-card>
<mat-card class="homePage" fxLayout="column" *ngIf="innerWidth>=750">
  <span *ngFor="let product of imageInterval2; let i = index">
    <div class="imageRow" fxLayout="row" fxLayoutGap="10px">
        <mat-card class="homeMatCard" *ngFor="let prod of product; let j = index" fxFlex="33">
          <div class="imgOverflow">
            <img class="img" src="{{prod}}" [routerLink]="['/home/product', prod.id]">
            <div class="hoverTextbox">
              <h2>LAWN KURTA</h2>
              <p>
                  This kurta is designed by right way.
              </p>
            </div>
          </div>
          <div class="middle">
            <div class="text">EMBROIDED SHIRT</div>
            <P class="paragraph">Revel in joy this season with our exquisitely pret collection, 
              featuring a rich
              color palette</P>
            <label class="label">SHOP NOW</label>
          </div>
        </mat-card>
    </div>
  </span>
</mat-card>
  <app-footer></app-footer> -->
