<!-- <div *ifPermitted="'educationLevels.index'"> -->
  <!-- <shared-page-loader *ngIf="!loaded"> </shared-page-loader> -->

  <div class="mat-elevation-z8">
      <div>
          <mat-form-field fxFlex class="dgSearchBar">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>

          <!-- <ng-container matColumnDef="instituteTypeId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>  {{attrLabels['instituteTypeId']}} </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.instituteType.name}} </mat-cell>
              </ng-container> -->
          <ng-container matColumnDef="Customer">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['categoryId']}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> Ali </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Price">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['price']}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> 250 </mat-cell>
          </ng-container>


          <ng-container matColumnDef="options">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element" class="options">
                  <a [routerLink]="['/institute/educationLevels/view', element.id]" mat-icon-button>
                      <mat-icon matTooltip="View">visibility</mat-icon>
                  </a>
                  <a [routerLink]="['/institute/educationLevels/update', element.id]" mat-icon-button>
                      <mat-icon matTooltip="Edit">edit</mat-icon>
                  </a>
                  <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete">
                      <mat-icon class="delete-icon">delete</mat-icon>
                  </a>
              </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

  </div>
  <div class="right-bottom-button">
      <a mat-fab color="primary" [routerLink]="['/institute/educationLevels/create']">
          <mat-icon>add</mat-icon>
      </a>
  </div>
<!-- </div> -->