
    <div class="pagePath">
        RightWay<span class="sign">></span>Add Color
    </div>
    <div class="productPage" *ngIf="!isMobileScreen">
        <!-- <div fxLayout="row">
            <a id="right">Right Way</a>
            <label class="prodLabel">{{im.description}}</label>
        </div> -->
        <mat-card fxLayout="row">
            <div fxFlex="50">
                <img class="img" src="{{imageLink}}">
            </div>
            <div fxFlex="50" class="formClass">
                <form novalidate [formGroup]="fg" (ngSubmit)="addColor(fg.value)" fxLayout="column" fxLayoutGap="20px">
                <h4>Add Color</h4>
                    <mat-form-field appearance="outline">
                        <mat-label>Color</mat-label>
                        <input matInput [placeholder]="componentLabels.color" formControlName="color" required>
                        <mat-error *ngIf="fg.get('color').hasError('required')">Enter Color</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput [placeholder]="componentLabels.description" formControlName="description" required>
                        <mat-error *ngIf="fg.get('description').hasError('required')">Enter Description</mat-error>
                    </mat-form-field>
                    <div fxLayout="row">
                        <button mat-raised-button class="addCategoryButton" type="submit" [disabled]="fg.invalid">Add Color</button>
                        <button class="cancelButton" mat-raised-button [routerLink]="['/home']">Cancel</button>
                    </div>
                </form>
                </div>
        </mat-card>
    </div>
    <div class="productPage" *ngIf="isMobileScreen">
        <!-- <div fxLayout="row">
            <a id="right">Right Way</a>
            <label class="prodLabel">{{im.description}}</label>
        </div> -->
        <mat-card fxLayout="column">
            <div fxFlex="50">
                <img class="img" src="{{imageLink}}">
            </div>
            <div fxFlex="50" class="formClass">
                <form novalidate [formGroup]="fg" (ngSubmit)="addColor(fg.value)" fxLayout="column" fxLayoutGap="20px">
                <h4>Add Color</h4>
                    <mat-form-field appearance="outline">
                        <mat-label>Color</mat-label>
                        <input matInput [placeholder]="componentLabels.color" formControlName="color" required>
                        <mat-error *ngIf="fg.get('color').hasError('required')">Enter Color</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput [placeholder]="componentLabels.description" formControlName="description" required>
                        <mat-error *ngIf="fg.get('description').hasError('required')">Enter Description</mat-error>
                    </mat-form-field>
                    <div fxLayout="row">
                        <button mat-raised-button class="addCategoryButton" type="submit" [disabled]="fg.invalid">Add Color</button>
                        <button class="cancelButton" mat-raised-button [routerLink]="['/home']">Cancel</button>
                    </div>
                </form>
                </div>
        </mat-card>
    </div>
    <app-footer></app-footer>
