/**  
    These are the design implementation for Top bar.
**/
.matCard {
    background-color: black;
  }
  
  .matCardButtons button:hover{
    color: rgb(232, 235, 84);
  }
  
  .matHeading {
    color: rgb(232, 235, 84);
    margin-right: 20px;
  }    
      
      
      
    .right-way {
          color: rgb(226, 202, 62);
          font-size: 25px;
          font-family: 'Playfair Display', serif;
          text-align: center;
    }

    /**
    These are the other designs for the page
    **/

    .productPage{
        margin: 30px;
    }

    #right{
        font-size: 12px;
    }

    .prodLabel{
        padding-bottom: 10px;
        margin-left: 20px;
        font-size: 12px;
    }

    .img{
        width: 100%;
        height: 500px;
    }

    .formClass{
        margin-left: 25px;
    }

    .addCategoryButton{
        background-color: rgb(186, 189, 8);
        color: black;
        height: 40px;
    }

    /* .addCategoryButton:hover{
        background-color: rgb(186, 189, 8);
        color: black;
    } */

    .cancelButton{
        margin-left: 20px;
        background-color: black;
        color: white;
        height: 40px;
    }

    .cancelButton:hover{
        background-color: rgb(186, 189, 8);
        color: black;
    }
@media(max-width:600px){
    .formClass{
        margin-left: 15px;
        margin-right: 15px;
    }
}