<!-- <div > -->
    <!-- <mat-spinner class="spinner" *ngIf="!loaded"></mat-spinner> -->
    <!-- <mat-toolbar color="primary" class="matCard">
        <span fxLayout="row" fxFlex="90" class="matCardButtons">
        <h1 class="matHeading">  Right Way  </h1>  
        <button mat-button routerLink="/">Sales</button>  
        <button mat-button routerLink="/about">Winter Collection</button>
        <button mat-button routerLink="/about">New Designs</button>
        <button mat-button routerLink="/about">UnStitched</button>
        <button mat-button routerLink="/about">Stitched</button>
        </span>
        <span fxFlex="15" fxLayout="row" fxLayoutGap="10px">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>account_circle</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/login">
                  <span>Login</span>
                </button>
                <button mat-menu-item routerLink="/register">
                  <span>Sign Up</span>
                </button>
              </mat-menu>
              <button mat-icon-button aria-label="Example icon-button with a menu">
                <mat-icon>shopping_cart</mat-icon>
              </button>
              
        </span>
    </mat-toolbar> -->
    
    <!-- <div class="productPage" fxLayout="row">
        <div fxFlex="50">
            <img class="img" src="{{imageLink}}">
        </div>
        <div fxFlex="50">
            <div fxLayout="column">

            </div>
        </div>
    </div> -->
    <div class="pagePath">
        RightWay<span class="sign">></span>Home<span class="sign">></span>Add To Cart
        <span class="sign">></span>Shipping
    </div>
    <div class="shippingPage" *ngIf="isMobileScreen">
        <mat-card fxLayout="column" style="margin-top:20px" class="amountCard">
            <label class="orderLabel">Order Summary</label>
            <span fxLayout="row">
                <label class="itemLabel" fxFlex="50">Total Amount</label>
                <label class="totalLabel" fxFlex="40">PKR {{amount}}</label>
            </span>
            <label class="itemLabel">For Lahore users, delivery charges will be zero.</label>
        </mat-card>
        <mat-card class="formClass">
            <span class="shippingLabel">
                <label>Shipping Details</label>
            </span>
            <form novalidate [formGroup]="fg" (ngSubmit)="addCustomerDetails(fg.value)" fxLayout="column" fxLayoutGap="0px">
                
                    <div fxLayout="row" fxLayoutGap="20px" class="fname-margin">
                        <mat-form-field appearance="outline" fxFlex="96">
                            <mat-label>{{componentLabels.fname}}</mat-label>
                            <input matInput [placeholder]="componentLabels.fname" formControlName="fname" required>
                            <mat-error *ngIf="fg.get('fname').hasError('required')">First Name is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="fname-margin">
                        <mat-form-field appearance="outline" fxFlex="96">
                            <mat-label>{{componentLabels.lname}}</mat-label>
                            <input matInput [placeholder]="componentLabels.lname" formControlName="lname" required>
                            <mat-error *ngIf="fg.get('lname').hasError('required')">Last Name is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="fname-margin">
                        <mat-form-field appearance="outline" fxFlex="96">
                            <mat-label>{{componentLabels.email}}</mat-label>
                            <input matInput [placeholder]="componentLabels.email" formControlName="email" required>
                            <mat-error *ngIf="fg.get('email').hasError('required')">Email is required.</mat-error>
                            <mat-error *ngIf="fg.get('email').hasError('email')">Email is not valid.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="fname-margin">
                        <mat-form-field appearance="outline" fxFlex="96">
                            <mat-label>{{componentLabels.mobileNumber}}</mat-label>
                            <input class="mobileNumberInput" matInput [placeholder]="componentLabels.mobileNumber" formControlName="mobileNumber" required>
                            <mat-error *ngIf="fg.get('mobileNumber').hasError('required')">Mobile Number is required.</mat-error>
                            <mat-error *ngIf="fg.get('mobileNumber').hasError('pattern')">Pattern should be 0300-1234567</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="fname-margin">
                        <mat-form-field appearance="outline" fxFlex="97">
                            <mat-label>{{componentLabels.address}}</mat-label>
                            <textarea matInput [placeholder]="componentLabels.address" formControlName="address" required></textarea>
                            <mat-error *ngIf="fg.get('address').hasError('required')">Address is required.</mat-error>
                            <mat-error *ngIf="fg.get('address').hasError('minLength')">Address is exceeding.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="fname-margin">
                        <mat-form-field appearance="outline" fxFlex="97">
                            <mat-label>{{componentLabels.instruction}}</mat-label>
                            <textarea matInput [placeholder]="componentLabels.instruction" formControlName="instruction"></textarea>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" class="buttons">
                        <button mat-raised-button class="paymentButton" type="submit" [disabled]="fg.invalid">Go For Payment</button>
                        <button class="cancelButton" mat-raised-button (click)="cancelClick()">Cancel</button>
                    </div>
                </form>
        </mat-card>
    </div>

    <div class="shippingPage" *ngIf="!isMobileScreen">
        <mat-card fxLayout="column" style="margin-top:20px" class="amountCard">
            <label class="orderLabel">Order Summary</label>
            <span fxLayout="row">
                <label class="itemLabel" fxFlex="40">Total Amount</label>
                <label class="totalLabel" fxFlex="40">PKR {{amount}}</label>
            </span>
            <label class="itemLabel">For Lahore users, delivery charges will be zero.</label>
        </mat-card>
        <mat-card class="formClass">
            <span class="shippingLabel">
                <label>Shipping Details</label>
            </span>
            <form novalidate [formGroup]="fg" (ngSubmit)="addCustomerDetails(fg.value)" fxLayout="column" fxLayoutGap="0px">
                
                    <div fxLayout="row" fxLayoutGap="20px" class="fname-margin">
                        <mat-form-field appearance="outline" fxFlex="48">
                            <mat-label>{{componentLabels.fname}}</mat-label>
                            <input matInput [placeholder]="componentLabels.fname" formControlName="fname" required>
                            <mat-error *ngIf="fg.get('fname').hasError('required')">First Name is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="48">
                            <mat-label>{{componentLabels.lname}}</mat-label>
                            <input matInput [placeholder]="componentLabels.lname" formControlName="lname" required>
                            <mat-error *ngIf="fg.get('lname').hasError('required')">Last Name is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="fname-margin">
                        <mat-form-field appearance="outline" fxFlex="48">
                            <mat-label>{{componentLabels.email}}</mat-label>
                            <input matInput [placeholder]="componentLabels.email" formControlName="email" required>
                            <mat-error *ngIf="fg.get('email').hasError('required')">Email is required.</mat-error>
                            <mat-error *ngIf="fg.get('email').hasError('email')">Email is not valid.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="48">
                            <mat-label>{{componentLabels.mobileNumber}}</mat-label>
                            <input class="mobileNumberInput" matInput [placeholder]="componentLabels.mobileNumber" formControlName="mobileNumber" required>
                            <mat-error *ngIf="fg.get('mobileNumber').hasError('required')">Mobile Number is required.</mat-error>
                            <mat-error *ngIf="fg.get('mobileNumber').hasError('pattern')">Pattern should be 0300-1234567</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="fname-margin">
                        <mat-form-field appearance="outline" fxFlex="97">
                            <mat-label>{{componentLabels.address}}</mat-label>
                            <textarea matInput [placeholder]="componentLabels.address" formControlName="address" required></textarea>
                            <mat-error *ngIf="fg.get('address').hasError('required')">Address is required.</mat-error>
                            <mat-error *ngIf="fg.get('address').hasError('minLength')">Address is exceeding.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="fname-margin">
                        <mat-form-field appearance="outline" fxFlex="97">
                            <mat-label>{{componentLabels.instruction}}</mat-label>
                            <textarea matInput [placeholder]="componentLabels.instruction" formControlName="instruction"></textarea>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <button mat-raised-button class="paymentButton" type="submit" [disabled]="fg.invalid">Go For Payment</button>
                        <button class="cancelButton" mat-raised-button (click)="cancelClick()">Cancel</button>
                    </div>
                </form>
        </mat-card>
    </div>
    <app-footer></app-footer>
<!-- <div class="homePage" fxLayout="column">
    <span *ngFor="let product of products; let i = index">
    <div class="imageRow" fxLayout="row" fxLayoutGap="10px">
        <span *ngFor="let prod of product; let j = index" fxFlex="31.5">
            <img class="img" src="{{prod.name}}" [routerLink]="['/home/product', prod.id]">
            <div class="middle">
                <div class="text">John Doe</div>
            </div>
        </span>
    </div>
    </span>
</div> -->

<!-- <html>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <div class="image">
        <div class="heading">
            <p id="awesome">Building Something Awesome</p>
            <h1>Coming Soon!</h1>
            <hr>
            <p id="timer"></p>
            <form novalidate [formGroup]="fg" fxLayout="row" fxLayoutGap="10px" (ngSubmit)="onSave(fg.value)">

            <mat-form-field fxFlex="70%">
                <input class="emailInput" matInput placeholder="Get Notify by Email" formControlName="email" required>
                <mat-error *ngIf="fg.get('email').hasError('email')">Invalid Email</mat-error>
                <mat-error *ngIf="fg.get('email').hasError('required')">Enter Email</mat-error>
              </mat-form-field>
              <button fxFlex="30%" class="saveButton" type="submit" [disabled]="fg.invalid" mat-raised-button color="primary">Notify Me!</button>
            </form>
        </div>
    </div>
</html> -->

  <!-- <router-outlet></router-outlet> -->
